/*******************************************/
/***************** FOOTER ******************/
/*******************************************/

/* Flaticon Attribution */
.social a {
   font-size: 0.6rem;
}

/* Social media icons */
.social a img {
   width: 0.6em;
}
