/************************ STYLE CONSTANTS ********************/
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
:root {
   --primary-color: #1b98e0;
   --secondary-color: #59c3c3;
   --text-dark: #333;
   --text-light: #ebebeb;
   --primary-font: Arial, Helvetica, sans-serif;
   --secondary-font: "Patrick Hand", cursive;
}

body {
   font-family: var(--primary-font);
   display: flex;
}

.content {
   width: 95%; /* Give a little space on mobile */
   margin: 0 auto;
}

/*************************************************************/
/************************** HEADER ***************************/
/*************************************************************/
header {
   /* layout */
   display: flex;
   flex-direction: column; /* stacks logo and search */
   align-items: center;
   gap: 1rem;
   margin-bottom: 1rem;
   padding-bottom: 1rem;

   /* style */
   border-bottom: solid 1px black;
}

.logo {
   display: flex;
   padding: 1.5rem;
}

header a img {
   width: 5rem;
   align-self: flex-end;
}

.logo h1 {
   font-family: var(--secondary-font);
   font-size: 3.5rem;
   margin: 0;
   margin-bottom: -0.75rem;
   align-self: flex-end;
}

/********* Search Bar *********/
#searchBar {
   width: 100%;
}

#searchContainer {
   /* layout */
   display: flex;
   overflow: hidden;
   border: 1px solid #777;
   border-radius: 4px;
}

#searchText {
   flex-grow: 1;
   border: none;
   outline: none;
   padding: 0.1rem 0.2rem;
   /*padding: 0.5rem;*/
   font-size: 1.3rem;
}

#searchBar button {
   border: none;
   background-color: transparent;
   /*padding: 0rem 0.2rem;*/
   padding: 0.4rem;
   cursor: pointer;
}

#searchBar button img {
   width: 1.5rem;
   display: block;
}

/*************************************************************/
/************************** MAIN *****************************/
/*************************************************************/

.recipeContainer {
   /* layout */
   align-items: center;
   padding: 1rem;

   /* style */
   border: 1px solid black;
   border-radius: 4px;
}

.recipeImg {
   width: 100%;
}

.recipeInfo {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.tags {
   border: 1px solid var(--text-dark);
   padding: 0.2rem 0.5rem;
   align-self: flex-start;
}

.recipeName {
   color: var(--primary-color);
   font-family: var(--secondary-font);
   font-size: 1.2rem;
   margin: 0;
}

.recipeDescription {
   display: none;
}

/*************************************************************/
/************************** FOOTER ***************************/
/*************************************************************/

footer {
   padding: 2rem 0;
}

.social {
   display: flex;
   flex-direction: column; /* Stacks attribution and icon group */
   align-items: center;
   gap: 1rem;
}

.social a {
   color: var(--primary-color);
   text-decoration: none;
}

.social-icons {
   display: flex;
   gap: 0.3rem;
}

/* Flaticon Attribution */
.social-icons a {
   font-size: 0.6rem;
}

/* Social media icons */
.social-icons img {
   width: 4rem;
   display: block;
}

/*************************************************************/
/************************ SCREEN ADJUST **********************/
/*************************************************************/
@media (min-width: 600px) {
   /* Recipe Container */
   .recipeContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      align-items: center;
   }

   .recipeInfo {
      padding-top: 0; /* Remove extra padding */
   }

   /**** Footer ****/
   .social {
      flex-direction: row-reverse; /* Icons on the right */
      justify-content: space-between;
      align-items: center;
   }

   .attribution {
      text-align: left;
   }
}

/* Width 2 */
@media (min-width: 960px) {
   .content {
      max-width: 960px; /* cap width */
   }
}
