/************************ STYLE CONSTANTS ********************/
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
:root {
   --primary-color: #1b98e0;
   --secondary-color: #59c3c3;
   --text-dark: #333;
   --text-light: #ebebeb;
   --primary-font: Arial, Helvetica, sans-serif;
   --secondary-font: "Patrick Hand", cursive;
}

body {
   font-family: var(--primary-font);
}

.content {
   width: 95%;
   margin: 0 auto;
}

/*************************************************************/
/************************** HEADER ***************************/
/*************************************************************/
header {
   /* layout */
   display: flex;
   flex-direction: column; /* stacks logo and search */
   align-items: center;
   gap: 1rem;
   margin-bottom: 1rem;
   padding-bottom: 1rem;

   /* style */
   border-bottom: solid 1px black;
}

.logo {
   display: flex;
   padding: 1.5rem;
}

header a img {
   width: 5rem;
   align-self: flex-end;
}

.logo h1 {
   font-family: var(--secondary-font);
   font-size: 3.5rem;
   margin: 0;
   margin-bottom: -0.75rem;
   align-self: flex-end;
}

/********* Search Bar *********/
#searchBar {
   width: 100%;
   padding: 0.2rem 0;
}

#searchContainer {
   /* layout */
   display: flex;
   overflow: hidden;
   border: 2px solid #777;
   border-radius: 4px;
}

#searchText {
   flex-grow: 1;
   border: none;
   outline: none;
   padding: 0rem 0.3rem;
   font-size: 1.3rem;
}

#searchText::placeholder {
   color: #c0c0c0;
}

#searchBar button {
   border: none;
   border-left: 2px solid var(--text-dark);
   padding: 0.4rem;
   cursor: pointer;
}

#searchBar button img {
   width: 2rem;
   display: block;
}

/*************************************************************/
/************************** MAIN *****************************/
/*************************************************************/

.recipe {
   /* layout */
   display: flex;
   flex-direction: column;
   padding: 1rem;
   gap: 0.3rem;

   /* style */
   border: 1px solid black;
   border-radius: 4px;
}

.recipe img {
   width: 100%;
}

.recipeInfo {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   padding-bottom: 1rem;
   padding-right: 1rem;
}

.tags {
   display: flex;
   flex-direction: row; /* Stacks the tags vertically */
   padding: 0; /* Removes the default list indentation */
   margin: 0; /* Removes default margin */
   gap: 0.5rem;
}

.tags li {
   list-style: none;
   border: 1px solid var(--text-dark);
   padding: 0.2rem 0.6rem;
   align-self: flex-start;
   font-size: 1.3rem;
}

.recipeName {
   text-decoration: none;
   padding-top: 0.4rem;
   color: var(--primary-color);
   font-family: var(--secondary-font);
   font-size: 2rem;
   margin: 0;
}

.recipeDescription {
   display: none;
}

.rating {
   padding-bottom: 1rem;
}

.icon-star,
.icon-star-empty {
   font-size: 1.2rem;
}

/*************************************************************/
/************************** FOOTER ***************************/
/*************************************************************/

footer {
   padding: 3rem 0;
}

.social {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.3rem;
}

.social a {
   color: var(--primary-color);
   text-decoration: none;
}

.social-icons {
   display: flex;
   gap: 0.3rem;
}

/* Social media icons */
.social-icons img {
   width: 3.7rem;
   display: block;
}

/*************************************************************/
/************************ SCREEN ADJUST **********************/
/*************************************************************/

/* Width 1 */
@media (min-width: 600px) {
   .recipe {
      flex-direction: row;
      gap: 1.5rem;
      align-items: start;
   }

   .recipeImg {
      flex: 1;
      min-width: 0;
   }

   .recipeInfo {
      flex: 1;
      padding-top: 0;
   }

   .rating {
      padding-bottom: 0;
   }

   .recipeDescription {
      display: block;
   }

   /**** Footer ****/
   .social {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
   }

   .social-icons img {
      width: 3rem;
   }

   .attribution {
      text-align: left;
   }
}

/* Width 2 */
@media (min-width: 960px) {
   .content {
      max-width: 960px;
   }
}
