:root {
   --primary-color: #52489c;
   --secondary-color: #59c3c3;
   --accent-color: #f45b69;
   --text-dark: #333;
   --text-light: #ebebeb;
   --primary-font: Arial, Helvetica, sans-serif;
   --secondary-font: "Mooli", sans-serif;
}

/* Defaults to Mobile View */

/* Body */
body {
   background-color: var(--text-light);
   font-family: var(--primary-font);
   margin: 0;
}

.content {
   width: auto;
}

/* Header */
header {
   display: grid;
   justify-items: center;
   grid-template-columns: 1fr;
   background: var(--primary-color);
   color: var(--text-light);
   padding: 1.5rem 2rem;
}

h1,
h2,
h3 {
   margin: 0rem;
}

/* Headline */
h1 {
   max-width: 225px;
   font-family: var(--secondary-font);
   font-size: 4rem;
   font-weight: 400;
   margin: 0.5rem;
   line-height: 115%;
   word-spacing: -0.15ch;
   letter-spacing: -0.01ch;
}

/* Menu */
.menu-button {
   background: none;
   border: none;
   padding: 0;
   margin-top: 1rem;
   color: var(--text-light);
}

.menu-button h2 {
   font-size: 2.2rem;
   font-weight: 400;
}

/* Menu Items */

.hide {
   display: none;
}

header h3 {
   text-decoration: underline;
   font-size: 1.5rem;
   font-weight: 400;
   padding: 0.3rem;
   margin: 0;
}

/* Main */
main {
   padding: 2rem;
}

/* Gallery */
main h2 {
   margin: 2.5rem 0rem;
   font-size: 2rem;
   font-weight: 600;
   text-align: center;
}

.gallery {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
   margin: 0;
   padding: 0;
   gap: 0 0.5rem;
}

figure {
   margin: 0;
   padding-bottom: 2.5rem;
   padding: 1rem 2rem;
   align-items: center;
}

figure img {
   max-width: 100%;
   height: 200px;
   width: 200px;
   object-fit: cover;
   border: 0.5rem solid white;
   box-shadow: 4px 4px 8px var(--text-dark);
}

/* Footer */
footer {
   background-color: var(--primary-color);
   color: var(--text-light);
   padding: 3rem;
   margin-bottom: 0;
   text-align: center;
}

/* Tablet View */
@media screen and (min-width: 700px) {
   /*Headline*/
   h1 {
      max-width: none;
   }
   main h2 {
      margin: 1rem 0rem;
   }

   /* Gallery */
   .gallery {
      grid-template-columns: 1fr 1fr;
      max-width: 700px;
      margin: 0 auto;
   }
}

/* Desktop View */
@media screen and (min-width: 1000px) {
   /* Menu */
   .menu-button {
      display: none;
   }

   /* Main */
   main {
      max-width: 1080px;
      padding: 1rem 4rem;
      margin: 0 auto;
   }

   .menu {
      display: flex;
      gap: 7.5rem;
   }

   /* Gallery Title */
   main h2 {
      font-size: 1.9rem;
      margin: 0;
      margin-bottom: 0.1rem;
   }

   /* Gallery */
   .gallery {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 880px;
   }

   img {
      height: 200px;
      width: 200px;
   }
}

/* MODAL */

.viewer {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: none;
   background: transparent;
   z-index: 10;

   /* help with centering */
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   box-sizing: border-box;
}

.viewer::backdrop {
   background-color: rgba(0, 0, 0, 0.6); /* make backdrop black*/
}

.image-container {
   position: relative; /* positions the close button */
   margin: 1vh auto 0; /* keeps the container from top and centered */

   width: fit-content; /* Container size matches image */
   max-width: 90%; /* avoid touching screen edges */
   line-height: 0; /* removes extra space that'll misalign close button */
}

.viewer img {
   display: block;
   max-width: 100%; /* image scales down to fit container */
   max-height: 60vh; /* image won't get too tall on long screens */

   /* Maintain aspect ratio */
   height: auto;
   width: auto;
}

/* close button */
.close-viewer {
   position: absolute;
   /* positioned relative to container */
   top: -15px;
   right: -15px;

   /* Basic styling */
   background-color: white;
   border: 1px solid #333;
   border-radius: 50%; /* circular */
   width: 30px;
   height: 30px;
   font-size: 16px;
   font-weight: bold;

   /* center the 'X' */
   line-height: 28px;
   text-align: center;
   cursor: pointer;
   padding: 0;
}
